$primary-color: #e4602f;
$secondary-color: #EE7243;
$dark-color-1: #252422;
$dark-color-2: #403D39;
$medium-color: #868179;
$light-color-1: #FFFCF2;
$light-color-2: #CCC5B9;

$shadow-color: black;
$fade-in: fadeInAnimation ease 0.5s backwards;